@font-face {
  font-family: "Malahit";
  src: local("Malahit"),
   url("./fonts/Malahit/malahit_bold.woff") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Kingthings-christmas";
  src: local("Kingthings-christmas"),
   url("./fonts/Kingthings-christmas/kingthings-christmas.woff") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "pwjoyeuxnoel";
  src: local("pwjoyeuxnoel"),
   url("./fonts/Pwjoyeuxnoel/pwjoyeuxnoel.woff") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "zanesennyj";
  src: local("zanesennyj"),
   url("./fonts/Zanesennyj/zanesennyj.woff") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "a_braggastars";
  src: local("a_braggastars"),
   url("./fonts/a_braggastars/a_braggastars.woff") format("truetype");
  font-weight: normal;
}


body {
  margin: 0;
  font-family: 'a_braggastars', sans-serif;
  /* font-family: 'Kingthings-christmas', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: hidden;
  color: rgb(244, 240, 240);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
